.home-container {
    margin: 0 auto 24px auto;
    width: 100%;
    padding: 10px 25px;
}

.home-layout {
    width: 100%;
    padding-left: 10px;
    padding-top:10px;
}

.home-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.home-margin{
    margin: 24px 0; 
}

@media screen and (max-width: 1200px){
    .home-row {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 876px){
    .home-row {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 576px){
    .home-row {
        grid-template-columns: auto;
    }
    .home-layout {
        padding-left: 0px;
    }
    .home-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}