.add-product-container{
    display: flex;
    margin: 20px 0; 
}

.add-product-inputs {
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #ced4da;
    background-color:#cfe0f1a2;
    border-radius: 5px;
    padding: 5px 0;
}

/*************** Pop Up Help Styling ***************/

.prepGuide{
    border: 2px solid #0066ff;
    position: absolute;
    background-color: #f4f4f4;
    border-radius: 5px;
    max-width: 600px;
}

.photo-help-text{
    font-weight: initial;
    font-size: 18px;
}

.prep-guide-title{
    padding-left: 10px;
    width: 400px;
    display: inline-block;
    background-color: rgb(224, 224, 224);
    line-height: 40px;
}

.exit-button{
    background-color: red;
    width: 40px;
    height: 40px;
    border: none;
    float: right;
}

.images-container-ul {
    list-style-type: initial;
    line-height: 23px;
    width: 380px;
    height: auto;
}

.newProductForm{
    margin-bottom: 40px;
}
  
