.in-stock {
    display: inline-block;
    padding: 5px 8px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
    vertical-align: baseline;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
}

.button-holder{
   height:90px;
}

.card-form-inputs {
    font-size: 16px;
    border: 1px solid #ced4da;
    background-color:#cfe0f1a2;
    border-radius: 5px;
    width: 60px;
    padding: 8px 8px;
}

.product-header {
    border-radius: 4px 4px 0px 0px;
    padding: 12px 20px;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    color: #fff;
    font-weight: bold;
    background: rgb(75, 75, 75);
}

.product {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
}

.product-info {
    margin-top:10px;
    font-size: 21px;
}
