.home-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 25px;
    margin-bottom: 1.5rem; 
}

.home-layout {
    flex: 0 0 33%;
    max-width: 34%;
    min-width: 315px;
    padding-left: 10px;
}

.home-row {
    margin-right: -14px;
    margin-left: -14px;
    display: flex;
    flex-wrap: wrap;
}

.home-margin{
    margin: 1.5rem 0; 
}

@media screen and (max-width: 1000px){
    .home-layout {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 676px){
    .home-layout {
        flex: 0 0 99%;
        max-width: 99%;
    }
}