.purchase-form{
    margin-bottom: 24px;  
}

.address-alert{
    display: none;
    padding-top: 5px;
    color:rgb(221, 0, 0);
}
 
.address-input{
    width: 100%;
    font-size: 16px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 2px solid rgba(0, 0, 0, 0.125);
    -webkit-appearance: none;
}

.loading{
    margin-bottom: 20px;
}
.purchase-info h1{
    margin-bottom:0;
}
.purchase-info{
    margin-top: 10px;
    color: red;
}

.pay-button {
    background-color: rgb(71, 255, 47);
    border: none;
    border-radius: 10%;
    font-size: 18px;
    padding: 6px 13px;
    display: block;
    cursor: pointer;
    transition:.16s ease-in-out;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pay-button:hover{
    background-color: rgb(150, 247, 137);
}
