.update-product-container{
    display: flex;
    margin-bottom: 24px;  
}

.product-inputs {
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #ced4da;
    background-color:#cfe0f1a2;
    border-radius: 5px;
    width: 100%;
    padding: 8px 8px;
}