.row-view-product {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
}

.view-product-layout{
    flex: 0 0 60%;
    max-width: 500px;
    min-width: 280px;
    margin-right: 15px
}

.view-product-layout .product-header{
    display: none;
} 
.related-products-layout{
    width: 220px;
}

.related-products-layout h1{
font-size: 22px;
padding-top:8px;
}

.product-name{
    font-size: 26px;
}

.product-container {
    padding: 15px;
    margin-right: 15px;
}

@media (max-width: 800px){
    .view-product-layout {
        margin-right: -15px;
    }  
    .row-view-product {
        grid-template-columns: auto;
    }
}

