.view-product-layout{
    display: flex;
    justify-content: center;
}

.related-products-layout{
}

.related-products-layout h1{
    font-size: 28px;
    font-weight: 500;
    padding: 20px 0 10px;
}

.product-name{
    font-size: 26px;
}

.product-container {
    padding: 15px;
}

.related-product-container{
    
}

@media (max-width: 750px){
    .product-container-view{
        flex-direction: column;
    }
}

