*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.how-it-works {
    height:500px;
    max-width:1200px;
    background-color:rgb(255, 255, 255);
    color:rgb(110, 110, 110);
    display:inline-block;
    flex-grow:1
}
.how-it-works-container{
    border-style: solid;
}
.how-it-works img{
    width:100%;
}
.how-it-works p{  
    font-size:1.2em;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,
    "Segoe UI",
    Roboto,"Helvetica Neue",Arial;
    line-height: 1;
    margin: 0;
    color: #212529;
    text-align: left;
    font-size: .99rem;
    font-weight: 390;
    background-color: #fff;
}


h4 {
    font-weight: 490;
    font-size: 1.9rem;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-bottom: 5px;
    margin-top: 0;
}

.red-text {
    color: #dc3545;
}

.form-inputs {
    font-size: 16px;
    border: 1px solid #ced4da;
    background-color:#cfe0f1a2;
    border-radius: 5px;
    width: 100%;
    padding: 8px 8px;
}

.list {
    padding-left: 0;
    list-style: none;
}

.margin-left {
    margin-left: 16%;
}

.margin-top {
    margin-top: 3rem;
}
  
.color-blue {
    background-color: #007bff;
}

/**
*Nav Bar
*/

.row {
    margin-right: -14px;
    margin-left: -14px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    line-height: 20px;
}
.nav-link {
    padding: .4rem 1.1rem;
    display: block;
}

.nav {
    list-style: none;
    background-color: #007bff;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

.product-title {
    margin-top:5px;
    font-size: 1.4rem;
    font-weight: 310;
}

.margin-bottom{
    margin-bottom: 1.5rem; 
}

.margin {
    margin: 1.5rem 0; 
}

.column {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.column-list {
    padding: 12px 18px;
    margin-bottom: -1px;
    position: relative;
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.125);
}


/**
* Main 
*/

.dashboard {
    
    width:100%;
}

.user-links-layout{
    position: relative;
    max-width: 30%;
    width: 100%;
    margin-left:15px;
    border-right: 4px solid rgba(0, 0, 0, 0.125);
}

.user-info-layout{
    position: relative;
    max-width: 30%;
    width: 100%;
    margin-left:15px;
}

a.user-link{
    line-height: 20px;
}

.main-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 14px;
    padding-left: 14px;
}

.manage-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destroy {
    border: 1px solid #000;
    color: rgb(231, 231, 231);
    background-color: #ffc107;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.destroy:hover {
    background-color: #dc3545;
    color: #212529;
}

.update {
    border: 1px solid #000;
    color: rgb(231, 231, 231);
    background-color: #368ddf;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.update:hover {
    background-color: #d9dc35;
    color: #212529;
}

/**
* Buttons 
*/

.button-blue {
    background-color:transparent;
    color: #007bff;
    border-color: #007bff;
    border-style: solid;
    margin-bottom: .5rem;
}
.button-yellow {
    color: #ffc107;
    border-color: #ffc107;
    border-style: solid;
    background-color:transparent;
    margin-bottom: .5rem;
}
.button-yellow:hover {
    color: #ffffff;
    background-color:#ffc107;
}
.button-blue:hover {
    color: #ffffff;
    background-color:#007bff;
}

.button {
    font-size: .99rem;
    padding: .385rem .85rem;
    transition:.16s ease-in-out;
    margin-right: 5px;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button:not(:disabled) {
    cursor: pointer;
}

/**
* Search
*/

.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 14px;
    padding-left: 14px;
}
.input-data {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    position: relative;
    display: flex;
}
.input-button {
    display: flex; 
}
.input-data>.search-bar {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

select {
    word-wrap: normal;
}

.search-bar {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; 
}

.input-data-text {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.sign-in{
    margin: 10px 0px;
    line-height: 25px;
}

.email-pass{
    margin: 0px 8px;
}

/**
* Products
*/

.product-container {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.product-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.product {
    border: 1px solid rgba(0,0,0,.125);
}

/**
* Layouts
*/
.dash-layout{
    position: relative;
    max-width: 30%;
    width: 100%;
    margin-left:15px;
}

.dash-extention {
    max-width: 75%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.shop-layout {
    flex: 0 0 33%;
    max-width: 34%;
    position: relative;
    width: 100%;
    padding-left: 15px;
}
.cart-layout {
    flex: 0 0 50%;
    max-width: 50%; 
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.filter{
margin-left:10px;
}

.filters-layout {
    flex: 0 0 67%;
    max-width: 67%;
    padding-right: 15px;
    padding-left: 15px;
}

.admin-links {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.admin-info {
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

manage-products-layout{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.center-text {
    text-align: center;
}

/**
 * Part of User Links */

a.user-link {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    font-weight: bold
}
a.user-link:hover {
    color: #8fc0f5;
}

a.nav-link {
    text-decoration: none;
}

a.nav-link:hover {
    color: #000;
}


li.nav-item {
    margin: 5px 0;  
}

img {
    border-style: none; 
    vertical-align: middle;
}

.in-stock {
    margin-bottom: 5px;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
}

/**
 * Shop Page Filters
 */
 .shop-filters {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.price-filters {
    margin-bottom: 1.3rem;
    margin-left: 1rem;
}


/**
 * Shopping Cart
*/

.cream-color{
    padding: 0.2em;
    background-color: #fcf8e3;
}

.caution {
    border: 1px solid transparent; 
    border-radius: .25rem;
    position: relative; 
    padding: .74rem 1.24rem; 
    margin-bottom: 1rem; 
}
.caution-text {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.total-orders {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}
 
 /* cart badge */
 
 .cart-number {
    font-style: italic;
    background: rgb(42, 143, 224);
    border-radius: 50%;
    font-size: 12px;
 }

.number {
    line-height: 10px;
}

 /**
  * single product page - product name
  */
 
 .name {
    color: #fff;
    font-weight: bold;
     background: rgb(30, 211, 54);
 }
 
 
.highlight {
    background: #b7ccbe94;
}

 /**
  * product image on card
  */
 
 .product-img {
     min-height: 100px;
 }
 
 .banner-container h2 {
     margin-top: -20px;
 }
 

 /**
 *Shop page App
 **/
 @media screen and (max-width: 1060px){
    .shop-layout {
        flex: 0 0 49%;
        max-width: 49%;
    }
    .filters-layout {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .filter-container{
        display: flex;
        justify-content: space-around;
        flex: 0 0 99%;
        max-width: 99%;
    }
}

 @media screen and (max-width: 676px){
    .shop-layout {
        flex: 0 0 99%;
        max-width: 99%;
    }
    .filters-layout {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .user-links-layout{
        max-width: 90%;
        width: 100%;
        border-right: none;
    }
    
    .user-info-layout{
        max-width: 90%;
        width: 100%;
    }
}


 @media (min-width: 576px){
.banner-container {
    padding: 4rem 2rem;
}}

@media (min-width: 1200px){
.container {
    max-width: 1140px;
}}

 /**
  * holds color animation
  */
  .banner-container{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
 }

 @media only screen and (max-width: 600px) {
    .banner-container h2 {
        margin-top: 10px;
    }
}

 @-webkit-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @-moz-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }