*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/**
*Nav Bar
*/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.bg-primary {
    background-color: #007bff!important;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/**
* Main 
*/
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/**
* Search
*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex; 
}
.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select {
    word-wrap: normal;
}
button{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/**
* Products
*/

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; 
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

/**
 * Product Info "card"
 */
 .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
img {
    vertical-align: middle;
    border-style: none; 
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
button:not(:disabled) {
    cursor: pointer;
}
/**
 * Shop Page Filters
 */
 .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}
.form-check-label {
    margin-bottom: 0;
}
.ml-4, .mx-4 {
    margin-left: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}
/**
 * Shopping Cart
 */
 .alert {
    /* position: relative; */
    /* padding: .75rem 1.25rem; */
    /* margin-bottom: 1rem; */
    /* border: 1px solid transparent; */
    border-radius: .25rem;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}



/**
 * border radius
 */

 .btn,
 .jumbotron,
 .nav :hover {
     border-radius: 0px;
 }
 
 /* cart badge */
 
 .cart-badge,
 .cart-badge:hover {
     border-radius: 50%;
     padding: 2px;
     font-size: 12px;
     font-style: italic;
     background: #000;
 }
 /**
  * single product page - product name
  */
 
 .name {
     background: indigo;
     color: #fff;
     font-weight: bold;
 }
 
 /* black shade form 10-1 */
 .black-10 {
     background: #f2f2f2;
 }
 .black-9 {
     background: #e6e6e6;
 }
 .black-8 {
     background: #d9d9d9;
 }
 .black-7 {
     background: #cccccc;
 }
 .black-6 {
     background: #bfbfbf;
 }
 .black-5 {
     background: #b3b3b3;
 }
 
 /**
  * product image on card
  */
 
 .product-img {
     min-height: 100px;
 }
 
 .jumbotron h2 {
     margin-top: -20px;
 }
 
 @media only screen and (max-width: 600px) {
     .jumbotron h2 {
         margin-top: 10px;
     }
 }
 
 /**
  * jumbotron animation
  */
 
 .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
     height: 180px;
     color: #fff;
     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
     background-size: 400% 400%;
     -webkit-animation: Gradient 15s ease infinite;
     -moz-animation: Gradient 15s ease infinite;
     animation: Gradient 15s ease infinite;
 }

 @media (min-width: 576px){
.jumbotron {
    padding: 4rem 2rem;
}}

@media (min-width: 1200px){
.container {
    max-width: 1140px;
}}

 @-webkit-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @-moz-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }